.info{
    width: 100%;
    text-align: center;
}

.info__text{
    padding: 3rem 3rem;
}

.info__text h3{
    color: #7a45ab;
    font-weight: 300;
    font-size: 30px;
}

.info__text h1{
    font-size: 50px;
}